.footer {
  max-width: 166px;
  height: 16px;
  margin-left: 556px;
  padding-top: 92px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 300px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    margin-left: 77px;
    padding-top: 64px;
    line-height: 14px;
  }
}
