.places {
  max-width: 984px;
  height: 3338px;
  margin: 92px auto 90px;
  color: #ffffff;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artists"
    "image description"
    "link description";
  row-gap: 48px;
  column-gap: 40px;
  align-items: start;
  margin: 0 0 80px;
}

.place__title {
  grid-area: title;
  margin: 0;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__authors {
  grid-area: artists;
  align-self: end;
  max-width: 456px;
}

.place__artists {
  color: #aaaaaa;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  text-transform: uppercase;
}

.place__artist {
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  grid-area: image;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  max-width: 460px;
  height: 460px;
  cursor: pointer;
}

.place__image:hover {
  opacity: 0.5;
}

.place__description {
  grid-area: description;
  max-width: 484px;
}

.place__paragraph {
  margin: 0 0 25px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__button {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: #ffffff;
  height: auto;
  padding: 13px 20px;
  text-decoration: none;
  gap: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    height: 2878px;
    margin: 0 24px;
  }

  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title artists"
      "image description"
      "link description";
    align-items: start;
    margin: 0 0 72px;
    gap: 48px 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__authors {
    max-width: 352px;
  }

  .place__artist {
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .place__image {
    grid-area: image;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
    max-width: 340px;
    height: 340px;
    cursor: pointer;
  }

  .place__image:hover {
    opacity: 0.5;
  }

  .place__description {
    grid-area: description;
    max-width: 352px;
  }

  .place__paragraph {
    margin: 0 0 25px 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__button {
    height: max-content;
  }

  .place__button:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
    max-height: 8182px;
    margin: 0;
  }

  .place {
    display: grid;
    max-width: 320px;
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "title"
      "artists"
      "image"
      "description"
      "description"
      "button";
    margin: 0 0 50px;
    gap: 30px;
  }

  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__authors {
    max-width: 288px;
    margin: 0 16px;
  }

  .place__artist {
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .place__image {
    grid-area: image;
    box-shadow: none;
    max-width: 320px;
    height: 320px;
    cursor: pointer;
  }

  .place__image:hover {
    opacity: 0.5;
  }

  .place__description {
    grid-area: description;
    max-width: 288px;
    margin: 0 16px;
  }

  .place__paragraph {
    margin: 0 0 25px 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__button {
    margin: 0 16px;
  }

  .place__button:hover {
    opacity: 0.5;
  }
}
